@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Oswald:wght@200..700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("./assets/Images/BackGroundJV.jpg") center/ cover;
    margin: 0 auto;
}

header {
    border-style: inset;
    border-color: rgb(15, 3, 45);
    background: rgb(43, 43, 61);
    width: 100vw; 
    border-bottom: 3px solid;
    border-top: 3px solid;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: fixed;
    top: 0;
    bottom: 90%;
}

nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgb(189, 154, 154);
}

header ul {
    display: flex;
    padding: 0;
    gap: 50px;
}

header li {
    list-style: none;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.language {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    right: 0;
}

.lang-btn-fr {
    color: #2b3255;
    background: linear-gradient(to right, rgb(231, 160, 117), rgb(205, 109, 107));
    border-style: inset;
    border-color: rgb(41, 65, 45);
}

.lang-btn-us {
    color: #2b3255;
    background: linear-gradient(to right, rgb(231, 160, 117), rgb(205, 109, 107));
    border-style: inset;
    border-color: rgb(41, 65, 45);
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -5px 5px 2px #00000052;
    color: #2b3255;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

.presentation {
    box-shadow: -13px 16px 20px 0px rgb(46, 11, 11);
    text-shadow: 4px 4px 7px #15074878;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 216, 157, 0.103);
    border-radius: 50% 20% / 10% 25%;
    margin: 10px 10px;
    padding: 25px;
}

.moi {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
}

p {
    text-transform: uppercase;
    text-align: center;
    color: #252f61;
}

.moi img {
    border-style: ridge;
    border-color: rgb(204, 163, 0);
    border-radius: 100%;
    box-shadow: 0px 12px 10px 3px #030711;
    width: 100%;

}

.Images_Competences {
    display: flex;
    justify-content: center;
    gap: 75px;
}

.Images_Competences img {
    width: 100px;
    height: 100px;
}

.projets {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.projet_space_invaders {
    display: flex;
    text-transform: uppercase;
    color: #252f61;
    background: rgba(255, 216, 157, 0.103);
    border-radius: 50% 20% / 10% 15%;
    margin: 10px 10px;
    padding: 25px;
    box-shadow: -13px 16px 20px 0px rgb(46, 11, 11);
}

.Projet_Platformer_2d {
    display: flex;
    text-transform: uppercase;
    color: #252f61;
    background: rgba(255, 216, 157, 0.103);
    border-radius: 50% 20% / 10% 15%;
    margin: 10px 10px;
    padding: 25px;
    box-shadow: -13px 16px 20px 0px rgb(46, 11, 11);
}

.projet_ShootEm_Up {
    display: flex;
    text-transform: uppercase;
    color: #252f61;
    background: rgba(255, 216, 157, 0.103);
    border-radius: 50% 20% / 10% 15%;
    margin: 10px 10px;
    padding: 25px;
    box-shadow: -13px 16px 20px 0px rgb(46, 11, 11);
}

.projet_groupe_NSI {
    display: flex;
    text-transform: uppercase;
    color: #252f61;
    background: rgba(255, 216, 157, 0.103);
    border-radius: 50% 20% / 10% 15%;
    margin: 10px 10px;
    padding: 25px;
    box-shadow: -13px 16px 20px 0px rgb(46, 11, 11);
}

.projets img {
    border-style: ridge;
    border-color: rgb(192, 153, 0);
    border-radius: 5%;
    width: 50%;
}

.projets ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: -5px 5px 7px #00000052;
    color: #2b3255;
    font-family: "Oswald", sans-serif;
    font-weight: 250;
    font-style: normal;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 40%;
}

.contact form {
    display: grid;
    grid-template-rows: 17% 25% 55% 5%;
    align-items: center;
    background: rgba(255, 216, 157, 0.103);
    margin: 25px 10px;
    padding: 35px;
    box-shadow: 0px 0px 100px 10px rgb(46, 11, 11);
}

.contact label {
    display: flex;
    flex-direction: column;
}

.contact textarea {
    resize: vertical;
    padding: 10px;
}

.contact input {
    padding: 5px;
}

#btn-submit {
    color: #252f61;
}

.contact li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    padding: 25px;
    margin: 25px 150px;
    background: linear-gradient(to right, rgb(231, 160, 117), rgb(205, 109, 107));
    border-radius: 20px;
    border-style: inset;
    border-color: rgb(194, 157, 12);
    box-shadow: -5px 5px 0px #00000052;
}

.footer_content {
    display: flex;
}

[data-translate]{
    color: aliceblue;
    padding: 25px;
}

/*RESPONSIVE*/

@media screen and (max-width: 800px) {
    .projet_space_invaders {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Projet_Platformer_2d {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projet_ShootEm_Up {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projet_groupe_NSI {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projets ul {
        display: flex;
        margin: auto 100px auto auto;
    }
}

@media screen and (max-width: 1200px) {
    .Images_Competences {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .Images_Competences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
    }
}

@media screen and (max-width: 600px) {
    .Images_Competences {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    }
}
